<div class="jumbotron">
  <h1 class="title">Dream Offer</h1>
  <p class="slogan">
    What's your dream and what's your wanted job?
  <br />
  The Top Job in 10 Years Might Not Be What You Expect
  <br />
  These Are the 5 Most In-Demand Jobs Right Now
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">Just Now</a>
  </p>
</div>
<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class="img-thumbnail" />
          <div class="caption">
            <h3>Haidian, Beijing</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class="img-thumbnail"/>
          <div class="caption">
            <h3>info@dreamjob.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class="img-thumbnail" />
          <div class="caption">
            <h3>010-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
